body {
  margin: 0px;

}

.app-container {
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 50px;
}

@media screen and (max-width: 567px) {
  .app-container {
    height: calc(100vh - 50px);
    width: calc(100vw - 50px);
    padding: 25px;
  }
}